@font-face {
  font-family: 'lg';
  src: url('../fonts/lg.woff2') format('woff2'),
    url('../fonts/lg.ttf') format('truetype'),
    url('../fonts/lg.woff') format('woff'),
    url('../fonts/lg.svg#lg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
